<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-2.1.4.min.js"></script>

<!-- Bootstra Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.bxslider.min.js"></script>

<script src="js/highlight.pack.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('.bxslider').bxSlider({
    mode: 'fade',
    speed: 500,
    auto: 'true'
  });
});
</script>


<script type="text/javascript">
$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
</script>
