<!--sidebar start-->
<div class="container">
  <div class="main-board">
    <div class="row">  
      <div class="col-sm-4">
        <aside>
          <!-- sidebar menu start-->
          <ul class="sidebar">
            <h2><a href="/">TOPページ</a></h2> 
            <h2><a href="post/fisrt">学科紹介 </a></h2> 
            <h3>学科について</h3> 
            <ul>
              <li><a href="dept/educate-purpose">学習教育目標</a></li>
              <li><a href="dept/greet">学科長挨拶</a></li>
              <li><a href="dept/addmission-policy">情報工学科アドミッションポリシー</a></li>
              <li><a href="dept/system">学科改善システムの紹介</a></li>
              <li><a href="dept/pamphlet">学科パンフレット (download)</a></li>
              <li><a href="dept/youtube">学科公式チャンネル (Youtube)</a></li>
              <li><a href="dept/edesign">エンジニアリングデザイン</a></li>
              <li><a href="dept/igda">IGDA琉球大学</a></li>
              <li><a href="dept/qanda">情報工学科FAQ</a></li>
            </ul>
            <h3>学生・スタッフについて</h3>
            <ul>
              <li><a href="dept/student">学生のページ</a></li>
              <li><a href="dept/teacher">学科スタッフの紹介</a></li>
              <li><a href="dept/lab">研究室紹介</a></li>
            </ul>
            <h3>大学院について</h3>
            <ul>
              <li><a href="dept/exam_infomation">大学院入試情報</a></li>
            </ul>
            <h3>進学先／就職先</h3>
            <ul>
              <li><a href="dept/course">卒業生の就職先/進学先</a></li>
            </ul>
            <h2><a href="">学内向け情報</a></h2> 
            <h3>学生向け</h3>
            <ul>
              <li><a href="inside/guide-bachelor">修学の手引き(学部生)</a></li>
              <li><a href="inside/guide-master">修学の手引き(院生)</a></li>
              <li><a href="inside/course-provision">情報工学科履修規定</a></li>
              <li><a href="inside/">時間割</a></li>
              <li><a href="inside/">コース制(H21年度以前入学生)</a></li>
              <li><a href="inside/">情報工学科履修計画表(H21年度以降入学生)</a></li>
              <li><a href="inside/">大学院研究計画書</a></li>
              <li><a href="inside/">平成27年度(前期)オフィスアワー</a></li>
              <li><a href="inside/">Netnews(News-ie)</a></li>
              <li><a href="inside/">授業評価アンケートのページ</a></li>
              <li><a href="inside/">達成度計算アプリを通した自己評価</a></li>
              <li><a href="inside/">卒業研究</a></li>
              <li><a href="inside/">卒業研究評価ルーブリック(パイロット版)</a></li>
              <li><a href="inside/">就職関連</a></li>
              <li><a href="inside/">教員免許コース</a></li>
              <li><a href="inside/">学習サポート</a></li>
              <li><a href="inside/">工学部 安全マニュアル</a></li>
              <li><a href="inside/"></a></li>
            </ul>
            <h3><a href="">システム利用の手引き</a></h3>
            <ul>
              <li><a href="">スタートアップ</a></li>
              <li><a href="">授業で役立つもの</a></li>
              <li><a href="">研究などに役立つもの</a></li>
              <li><a href="">管理者向け情報</a></li>
              <li><a href="">その他、旧情報</a></li>
              <li><a href="">edy・sh・ldap情報の変更・IP申請etc</a></li>
            </ul>
            <h3>卒業生向け</h3>
            <ul>
              <li><a href="">OB,卒業生向けアンケート</a></li>
            </ul>
            <h3>要望等</h3>
            <ul>
              <li><a href="">要望はこちらから</a></li>
            </ul>
          </ul>
          <!-- sidebar menu end-->
        </aside>
        <!--sidebar end-->
      </div>
