<!--sidebar start-->
<div class="container">
    <aside>
            <!-- sidebar menu start-->
            <ul class="sidebar">
              <h2><a href="">TOPページ</a></h2> 
              <h2><a href="">学科紹介 </a></h2> 
              <h3>学科について</h3> 
              <ul>
                <li><a href="">学習教育目標</a></li>
                <li><a href="">学科長挨拶</a></li>
                <li><a href="">情報工学科アドミッションポリシー</a></li>
                <li><a href="">学科改善システムの紹介</a></li>
                <li><a href="">学科パンフレット (download)</a></li>
                <li><a href="">学科公式チャンネル (Youtube)</a></li>
                <li><a href="">エンジニアリングデザイン</a></li>
                <li><a href="">IGDA琉球大学</a></li>
                <li><a href="">情報工学科FAQ</a></li>
              </ul>
              <h2><a href="">学科内向け情報 </a></h2> 
            </ul>
            <!-- sidebar menu end-->
    </aside>
    <!--sidebar end-->
</div>
